*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#091921;
}
h1{
    text-align: center;
    color: #fff;
    margin-top: -480px;
    margin-right: 150px;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px;
}
h1:hover{
    color: gold;
    border: 3px solid blue;
}
.calculator{
    position:relative;
    display:grid;
}
.calculator .value{
    grid-column:span 4;
    height:100px;
    text-align:right;
    border:none;
    outline:none;
    padding:.5px;
    font-size:18px;
}
.calculator span{
    display:grid;
    width:60px;
    height:60px;
    color:#fff;
    background:#0c2835;
    place-items:center;
    border:.2px solid rgba(0,0,0,0.1);
}
.calculator span:active
{
    background:#74ff3b;
    color:#111;
}
.calculator span.clear
{
    grid-column:span 2;
    width:120px;
    background:#ff3077;
}
.calculator span.plus{
    grid-row: span 2;
    height:120px;
}
.calculator span.equal{
    background:#03b1ff;
}
